# Django Configuration
DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@porrita.com
DJANGO_SUPERUSER_PASSWORD=changeme

# Football Data API
FOOTBALL_DATA_TOKEN=your-api-token-here
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4
